#azure_sql_dwh_dwu              = "DW100c"
#deploy_aws_client              = false
#deploy_azure_client            = true
#deploy_network                 = true
#deploy_s2s_vpn                 = false
#deploy_serverless              = true
#deploy_synapse                 = true
#user_name                      = "demoadmin"