#azure_sql_dwh_dwu              = "DW100c"
#deploy_network                 = true
#deploy_synapse                 = true
#deploy_synapse_client          = true
#user_name                      = "demoadmin"